/*
 * Globals
 */

/* Links */
/*
a,
a:focus,
a:hover {
    color: #fff;
}
*/

button.collapsed:focus,
button.collapsed:hover{
  color:blue;
}

/* Custom default button */
/*
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #000;
}
*/
/*
 * Base structure
 */

html,
body {
    height: 100%;
    /*background-color: #e8e8e8;
    color: #fff;*/
}

/* Esta regla sirve para eliminar esos horribles íconos x y v cuando se valida un input*/
.was-validated .custom-select:valid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    padding-right: 10px;
}

.was-validated .custom-select:invalid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    padding-right: 10px;
}

.was-validated .form-control:valid {
    background: none;
    padding-right: 10px;
}

.was-validated .form-control:invalid {
    background: none;
    padding-right: 10px;
}

/*
Esta regla sirve para eliminar esos horribles botones flecha arriba y flecha abajo de los input type=number
 */
input[type=number]::-webkit-inner-spin-button, /*Ojo que esta regla sólo funciones en Chrome*/
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { /*Esta regla sólo funciona en Firefox*/
    -moz-appearance: textfield;
}


