<?xml version="1.0" encoding="utf-8"?>
<widget id="com.coopelect.clientes" version="0.0.3">
    <name>COOPELECT</name>
    <description>
        Esta app sirve para brindar atención al cliente a los abonados de COOPELECT R.L.
    </description>
    <author email="sardinasjoseluis1@gmail.com" href="http://www.joseluis.com">
        Jose Luis Sardinas
    </author>
    <content src="index.html"/>

    <preference name="stay-in-webview" value="true"/>
    <preference name="fullscreen" value="false"/>
    <preference name="phonegap-version" value="cli-9.0.0"/>

    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-splashscreen"/>

    <access origin="*"/>
    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <meta http-equiv="Content-Security-Policy" content="default-src">
    <icon src="icono.png"/>
    <splash src="splash.png"/>
</widget>