<?xml version="1.0" encoding="utf-8"?>
<widget id="com.coopelect.clientes" version="0.0.5" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>COOPELECT</name>
    <description>
        Esta app sirve para brindar atención al cliente a los abonados de COOPELECT R.L.
    </description>
    <author email="sardinasjoseluis1@gmail.com" href="http://www.joseluis.com">
        Jose Luis Sardinas
    </author>
    <content src="index.html"/>

    <preference name="stay-in-webview" value="true"/>
    <preference name="fullscreen" value="false"/>
    <preference name="phonegap-version" value="cli-9.0.0"/>

    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-splashscreen"/>
    <plugin name="cordova-plugin-file"></plugin>
    <plugin name="cordova-plugin-file-opener2"></plugin>

    <access origin="*"/>
    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <icon src="icono.png"/>
    <splash src="splash.png"/>

    <platform name="android">
        <preference name="android-targetSdkVersion" value="29" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
    </platform>
</widget>